body {
  /*background-image: url("src/pexels-pixabay-531756.jpg");
  
  background-position: center;
  border-color: black;*/
  background-color: #3390be;
}
.row {
  font-weight: bold;
}
input {
  width: 25%;
  padding-left: 10px;
  margin-top: 20px;
  line-height: 30px;
  margin-left: 40%;
}
.search {
  line-height: 30px;
}
.loc {
  line-height: 30px;
  border-radius: 10px;
  /*padding: 5px 20px;*/
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
h2 {
  margin-top: 50px;
}
h2,
h1,
h5,
p,
.row {
  text-align: center;
}
p {
  font-size: 18px;
}
.i {
  display: grid;
  grid-template-columns: auto auto auto;
}
.r1,
.r2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}
hr {
  height: 1px;
  background-color: grey;
  border: none;
}

.info {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 20px;
  color: rgb(6, 18, 41);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  line-height: 20px;
}
a {
  color: black;
  text-decoration: none;
}
sup {
  font-size: large;
  color: black;
}
header {
  display: block;
  text-align: center;
  color: #000;
}
h1 {
  display: inline-block;
  text-align: center;
}
